@import '~@fluentui/react/dist/sass/References.scss';

/**
.popup {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
**/

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure position relative for absolutely positioned children */

}

.popupWebPart {
  position: relative;
  width: 80%; /* or any width you desire */
  max-width: 600px; /* or adjust based on your design */
  margin: 0 auto; /* center the popupWebPart horizontally */
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%; /* or any width you desire */
  max-width: 1200px; /* or adjust based on your design */
  margin: 0 auto; /* center the container horizontally */
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px; /* add some negative margin for spacing between columns */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.popup.show {
  display: flex;
}
